*{ margin: 0; padding: 0;}
li{ list-style: none;}
a{ text-decoration: none;}

.commpany_warp{ width: 1035px; margin: auto;}
.commpany_index_left{ width: 716px; float: left;}
.font_st{ font-family: "宋体";}
.font_wy{ font-family: "微软雅黑";}
.section_box{ border: #d1d1d1 solid 1px; }
.section_box_left{ width: 714px;}



.commpany_index_name_tag{ padding: 28px 0px; overflow: hidden;}
.commpany_logo_box { width: 198px; height: 160px; overflow: hidden; float:left; margin-left: 20px;}
.commpany_logo_right{ width: 450px; float: left; padding-left: 15px;}
.commpany_logo_right h1{ font-size: 18px; line-height: 24px;}
.commpany_logo_right p{ font-size: 14px; line-height: 24px;}
